input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $lightGray;
	border: 2px solid darken($themeGray, 10%);
	border-radius: 3px;
	padding: 5px;
	outline: none;
	&:focus {
		color: $lightGray;
	}
}

select {
	border: 1px solid darken($themeGray, 10%);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 5px;
}

textarea {
	width: 100%;

	&.textarea-code {
		border: 1px dashed $lighterGray;
		padding: 10px;
		outline: none;
	}
}


.fgroup {
	@include clearfix();
	margin-bottom: 10px;

	label {
		width: 80px;
		display: inline-block;
		*zoom:1; *display: inline;
		margin-right: 10px;
	}

	input[type="text"], input[type="password"] {
		width: 200px;
	}
	input {
		margin-left: 10px;
		&:first-child {
			margin-left: 101px;
		}
	}
}
