// helper
.small {
	font-family: $lightFontFamily;
	@include font-size(.8);
	span {
		font-family: $lightFontFamily;
		@include font-size(.8);
	}
}


.reviews {
	border-top: 1px solid $themeGray;
	margin-top: 40px;
	ul {
		list-style: none;
		margin: 40px 0;
		padding: 0;
		 li {
		 	overflow: hidden;
		 	margin-top: 25px;
		 	&:first-child {
		 		margin-top: 0;
		 	}
		 	.reviewer {
		 		max-width: 82px;
		 		float: left;
		 		text-align: center;
		 		overflow: hidden;
		 		img {
		 			border: 1px solid darken($themeGray, 5%);
		 			outline: none;
		 		}

		 		.reviewer-name {
		 			color: lighten($lightGray, 10%);
		 			font-size: 12px;
		 			line-height: 1.2
		 		}
		 	}

		 	.review-info {
		 		color: lighten($baseFontColor, 15%);
		 		background-color: lighten($themeGray, 5%);
		 		border: 1px solid darken($themeGray, 5%) ;
		 		padding: 10px;
		 		margin-left: 110px;
		 		min-height: 80px;
		 		position: relative;
		 		width: auto;
		 		&:after {
				  content: "";
				  display: block;
		 		  width: 0; 
				  height: 0; 
				  border-right: 13px solid lighten($themeGray, 5%);
				  border-top: 13px solid transparent;
				  position: absolute;
				  top: 11px;
				  left: -12px;
		 		}

		 		&:before {
				  content: "";
				  display: block;
		 		  width: 0; 
				  height: 0; 
				  border-right: 15px solid darken($themeGray, 5%);
				  border-top: 15px solid transparent;
				  position: absolute;
				  top: 10px;
				  left: -15px;
		 		}
		 	}

		 	.review-date  {
		 		margin-top: 5px;
		 		@include font-size(.75);
		 		line-height: 1.2;
		 		color: lighten($baseFontColor, 15%);
		 	}
		 }

		 ul {
		 	clear: both;
		 	margin-top: 15px;
		 	padding-left: 107px;
		 }
	}
}


.social-icon-holder {
    list-style: none;
    margin:0;
    padding: 0; 
    text-align: center;
	@media (min-width: $screen-md) {
		text-align: right;
	}   
    li {
        margin-left: 8px;
        margin-bottom: 0;
        display: inline-block;
        *zoom:1; *display: inline; 

        a {
            display: block;
            background: url(../images/fc-social-icons.png) no-repeat right -2px;
            width: 48px;
            height: 48px;
            border-bottom: none;
             text-decoration: none !important;
             &:hover {
             text-decoration: none !important;
             background-position: right -53px;
            }
            span {
                display: block;
                font-size: 0;
            }
        }
     &.fc-blog-icon {
         margin-left: 0;

     }
    &.fc-blog-icon a{         
         background-position: 0px -2px;
         &:hover {
             background-position: 0px -53px;
         }
        } 

    &.facebook-icon a{         
         background-position: -51px -2px;
         &:hover {
             background-position: -51px -53px;
         }
        }       
     &.twitter-icon a{
        background-position: -102px -2px;
        &:hover {
             background-position: -102px -53px;
         }
        }
    }
}