<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-6"><p class="copyright small mt10">&copy; 2002-
			2016 InfoSoft Global Private Limited. <span>All Rights Reserved.</span></p></div>
			<div class="col-md-4  col-lg-6">
			<ul class="social-icon-holder">
				<li class="fc-blog-icon"><a href="http://www.fusioncharts.com/blog/" target="_blank" title="The FusionCharts Blog"><span>The FusionCharts Blog</span></a></li>
				<li class="facebook-icon"><a href="https://www.facebook.com/FusionCharts" target="_blank" title="Like us on Facebook"><span>Like us on Facebook</span></a></li>
				<li class="twitter-icon"><a href="https://twitter.com/FusionCharts" target="_blank" title="Follow us on Twitter"><span>Follow FusionCharts on Twitter</span></a></li>
				<li class="googleplus-icon"><a href="https://plus.google.com/+FusionCharts" target="_blank" title="Follow us on Google Plus"><span>Need Info</span></a></li>
			</ul>
			</div>
		</div>
	</div>
</footer>
<!-- head template inlude  end -->
