<header>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<a href="<%= site_root%>"><img src="<%= site_root%>images/logo-white.png" alt="FusionCharts - Data to delight... in minutes"/></a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- header template inlude end -->