<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<!-- installing fusioncharts  -->
	<script type="text/javascript" src="bower_components/fusioncharts/fusioncharts.js"></script>
	<!-- installing fusioncharts zune theme -->
	<script type="text/javascript" src="bower_components/fusioncharts/themes/fusioncharts.theme.zune.js"></script>
	<!-- installing fusioncharts angular plugin  -->
	<script type="text/javascript" src="bower_components/fusioncharts-angular/angular-fusioncharts.js"></script>
	<!-- a js file for angular operation -->
    <script type="text/javascript" src="webapp/app.js"></script>
</head>
<body>
	<header>
		<div class="wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<a href="/"><img src="images/logo-white.png" alt="FusionCharts - Data to delight... in minutes"/></a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="content" ng-app='reviewapp' >
		<div class="container" ng-controller='reviewSection'>
			<div class="row">
				<div class="col-lg-12">
					<section >
						<div class="chart-wrapper" >
							<fusioncharts
								width="800"
								height="440"
								type="column2d"
								dataformat="json"
								chartid ="mychart"
								datasource= {{data}}
							></fusioncharts>
						</div>
					</section>
					<section >
						<div class="review-section">
							<div class="review-form">
								<textarea name="" id="" cols="30" rows="5" ng-model="review"></textarea>
								<input type="submit" value="Post" class="btn btn-info btn-large" ng-click="postReview()">
							</div>
						</div>
						<div class="reviews">
							<ul>
								<li ng-repeat='unit in posts'>
									<div class="reviewer">
										<img src="" alt="" width="80" height="80" ng-src='{{ unit.avatar }}' >
										<div class="reviewer-name">{{ unit.name }}</div>
										<div class="review-date small">{{ unit.time }}</div>
										<div class="review-date small">{{ unit.date }}</div>
									</div>
									<div class="review-info">{{ unit.review }}
										<div class="attachment"><a style="text-decoration: none; color: #858585; font-size: 0.75rem; font-size: 12px; font-size: 0.75rem; color: #858585; opacity: 1; cursor: pointer;" href="/screenshots/{{ unit.ssid }}">screenshots.png</a></div>
									</div>
								</li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-6"><p class="copyright small mt10">&copy; 2002-
				2016 InfoSoft Global Private Limited. <span>All Rights Reserved.</span></p></div>
				<div class="col-md-4  col-lg-6">
				<ul class="social-icon-holder">
					<li class="fc-blog-icon"><a data-analytics-event="Outgoing Links|Blog|Blog" class="trackEvent" href="http://www.fusioncharts.com/blog/" target="_blank" title="The FusionCharts Blog"><span>The FusionCharts Blog</span></a></li>
					<li class="facebook-icon"><a data-analytics-event="Outgoing Links|Social Follows|FaceBook" class="trackEvent" href="https://www.facebook.com/FusionCharts" target="_blank" title="Like us on Facebook"><span>Like us on Facebook</span></a></li>
					<li class="twitter-icon"><a data-analytics-event="Outgoing Links|Social Follows|Twitter" class="trackEvent" href="https://twitter.com/FusionCharts" target="_blank" title="Follow us on Twitter"><span>Follow FusionCharts on Twitter</span></a></li>
					<li class="googleplus-icon"><a data-analytics-event="Outgoing Links|Social Follows|Google Plus" class="trackEvent" href="https://plus.google.com/+FusionCharts" target="_blank" title="Follow us on Google Plus"><span>Need Info</span></a></li>
				</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
