<!DOCTYPE html>
<html>
<head>
	<title></title>
	    <!-- raphael libray install -->
  	<script type="text/javascript" src="<%= site_root%>scripts/raphael-min.js"></script>
</head>
<body>
  	<script type="text/javascript" src="<%= site_root%>scripts/marker_new.js"></script>
ss
</body>
</html>